<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Agapay Clinical Laboratory | Accuracy • Care • Trust</title>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garant:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&family=Plus+Jakarta+Sans:wght@300;400;500;600&family=DM+Mono:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'components/topbar.html' %}
    {% include 'components/navbar.html' %}
    
    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'components/footer.html' %}

    <script>
    function switchTab(btn, id) {
      document.querySelectorAll('.t-tab').forEach(t => t.classList.remove('active'));
      document.querySelectorAll('.t-panel').forEach(p => p.classList.remove('active'));
      btn.classList.add('active');
      document.getElementById('panel-' + id).classList.add('active');
    }
    </script>
</body>
</html>
